
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are: 

1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include: 

1. Matplotlib
2. Pandas
3. Pytorch

|Data Science Tools|
|-------------------|
| Jupyter |
| Apache Spark |
| R Language |

## Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [10]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

# Objectives

- R Language
- Python
- Julia
- Scala

## Author

Syahir Mustapa